body { padding-top: 60px; padding-bottom: 40px; }
table form { margin: 0 6px; }
table .btn { margin-right: 4px; }

hr{
	display:none;
}


.form-actions{
	padding:0;
	border:0;
	margin:0;
	background-color:white;
	margin-top:20px;
}

.controls input, .controls textarea{
	width:330px;
}